body {
  font-family: "Work Sans", sans-serif;
}

.new-header {
  background-color: white !important;
}

.hero-section {
  background: linear-gradient(91deg, #000 0.76%, rgba(217, 217, 217, 0.00) 99.32%);
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  height: 942px;
  /* Ensure that content is on top of the background */
}

.hero-section::before {
  content: "";
  /* background-image: url(./assets/Images/heroimage.png); */
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-section-two {
  background: linear-gradient(91deg, #000 0.76%, rgba(217, 217, 217, 0.00) 99.32%);
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  height: 942px;
  /* Ensure that content is on top of the background */
}

.hero-section-two::before {
  content: "";
  background-image: url(./assets/Images/heroSecindImage.png);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.scrollable-button {
  position: fixed;
  bottom: 42px;
  z-index: 1000;
}

.white-button {
  color: white;
}

.for-mobile-hero-mobile {
  background-image: url(./assets/Images/hero-mobile.png);
  background-size: cover;
  height: 620px;
  padding-top: 179px;
}

.mobile-hero-para {
  padding-top: 24px;
  color: #D2D2D2;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.64px;
}

.mobile-hero-button {
  padding-top: 24px;

}

.mobile-hero-heading {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.12px;
}

.special-cls {
  /* width: 120%; */
  height: 100%;
}

.second-column-hero {
  margin-top: 80px;
}


.navbar-nav {
  gap: 12px;
}

label {
  font-weight: 500;
}

.hero-heading {
  color: #FFF;
  /* font-size: 50px; */
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2.4px;
}

.cst-container-hero-section {
  display: flex;
  justify-content: space-between;
  margin-left: 90px;
  margin-right: 90px;
  height: 942px;

}

.para-hero {
  color: #FFF;
  font-size: 29px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.talk-to-expert-btn {
  background-color: white !important;
  color: #EE3123;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.cst-hero-submit-btn {
  background: #0097D7 !important;
  border-radius: 10px;
  border: none !important;
  color: white !important;

}

.cst-hero-card {
  border-radius: 33px;
  background: #FFF;
  width: 773px;
  height: 645px;
  padding: 40px;
}



.form-control {
  border-radius: 9px;
  border: 1px solid #000;
  background: #FFF;
}

.cloud-native-para {
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: -0.96px;
}

.transition-seamlessly-para {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.8px;
}


.cst-card-ims {
  height: 100%;
  width: 100%;

}

.gradient-box {
  border-radius: 60px;
  max-width: 28em;
  position: relative;
  box-sizing: border-box;
  color: #000;
  background: white;
  background-clip: border-box;
  border: solid 3px transparent;
}

.gradient-box:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background: linear-gradient(180deg, #0097D7 0%, #EE3123 100%);
}



.gradient-box-two {
  border-radius: 60px;
  background: #FFF;
  position: relative;
  box-sizing: border-box;
  color: #000;
  background: white;
  background-clip: padding-box;
  border: solid 5px transparent;
}

.gradient-box-two:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background: linear-gradient(180deg, #0097D7 0%, #EE3123 100%);
}

.mobile-request-recive {
  background: linear-gradient(257deg, #0097D7 0%, #EE3123 100%);
  height: 620px;
}

.ims-section {
  background: linear-gradient(257deg, #0097D7 0%, #EE3123 100%);
}


.mobile-correct-icon {
  margin-top: 130px;
  /* margin-bottom: 297px; */
}

.contact-us-button {
  background-color: white !important;
  color: #EE3123;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1px;
}

.contact-us-section {
  color: white;

  background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}

.contact-us-section::before {
  content: "";
  background-image: url(./assets/Images/contactuasImage.png);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.social-meadia-div {
  gap: 12px;
}

.footer-section h3 {
  opacity: 0.8;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: -0.8px;
}

.copright-para {
  color: #000;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.72px;
}

.copright-para span {
  text-decoration-line: underline;
}

.footer-para {
  opacity: 0.8;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: -0.8px;
}

.are-you-ready {
  color: #FFF;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2.4px;
}

.benifits-para {
  color: #262626;
  font-family: Work Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.96px;
}

.ims-suite {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.8px;
}

.fully-tried {
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: -0.96px;
}

.ims-benifit-section h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}


.ims-benifit-section h2 {
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.56px;
}

.nav-link {
  color: black;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1px;
}

.cst-card-ims p {
  color: #262626;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.36px;
}

.business-para-ims {
  color: var(--Text, #262626);
  text-align: center;
  font-family: Work Sans;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 42px;
  /* 175% */
  letter-spacing: -0.96px;
}

.second-para-ims {

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.8px;
}

.ims-section h1 {
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.cst-card-ims h2 {
  color: #262626;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.56px;
}

.mobile-communication {
  font-family: Work Sans;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: -0.96px;
}

.power-generation h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.cst-second-hero-card {
  border-radius: 33px;
  height: 552px;
  background: var(--Grad, linear-gradient(180deg, #0097D7 0%, #EE3123 100%));
}

.correct-icon {
  width: 139px;
  height: 139px;
}

.cst-second-hero-card h3 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.6px;
}

.cst-second-hero-card p {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.96px;
}


@media (max-width: 575.98px) {
  .main-header-first {
    border-radius: 0px 0px 30px 30px;
    background: #FFF;
    box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
  }

  .mobile-res-cls {
    text-align: center;
  }

  .cst-second-hero-card {
    height: 610px;
  }

  .hero-section {
    text-align: center;
  }

  .hero-heading {

    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.12px;
  }

  .para-hero {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.64px;
  }

  .inpt-wrap {
    text-align: left;
  }

  .power-generation h1 {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.12px;
  }

  .cloud-native-para {
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.64px;
  }

  .ims-benifit-section h1 {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.12px;
  }

  .fully-tried {
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.64px;
  }

  .are-you-ready {
    text-align: center !important;
    font-size: 34px !important;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.12px;
  }

  .center-content-mobile {
    text-align: center;
  }



  .contact-us-section-mobile {
    color: white;
    background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
  }

  .contact-us-section-mobile::before {
    content: "";
    background-image: url(./assets/Images/contactusmobile.png);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }


}

.cst-hero-submit-btn {
  padding: 10px 10px 10px 10px;
}

.inpt-wrap {
  margin-bottom: 30px;
}


textarea {
  height: 222px;
  resize: none;
}

.hero-heading {
  padding-top: 18%;
}

/* .csr-second-container{
  max-width: 1600px;
} */


/* Laptop screen */
@media (max-width:1366px) {
  .hero-heading {
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.4px;
  }

  .hero-section {
    height: 620px;
  }

  .hero-section-two {
    height: 620px;

  }

  .cst-hero-card {
    width: 600px;
    height: 500px;
    padding: 20px;
  }

  .cst-hero-submit-btn {
    padding: 8px 8px 8px 8px;
  }

  .para-hero {
    font-size: 20px;
  }

  .inpt-wrap {
    margin-bottom: 10px;
  }

  textarea {
    height: 216px;
  }

  .second-column-hero {
    margin-top: 0px;
  }

  .are-you-ready {
    font-size: 40px;
  }

}